body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    grid-gap: 20px; /* spacing between grid cells */
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-grid li {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 200px; /* optional: set a fixed height for each grid cell */
}

.image-grid li img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensure images cover the entire grid cell */
}
.uploaded-image {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
